<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= asset_path("landing_page.jpg")%>);">
  <div class="container">
      <h1>Natalie Cartomancienne</h1>
      <a class="btn btn-ghost" href="#">À propos de moi</a>
  </div>
</div>

<h3>Ce que je vous propose pour vous accompagner :</h3>

<div class="cards">
  <div class="card-category">
    Réponse à une question
    <br>20€
  </div>

  <div class="card-category">
    Tirage Karmique
    <br>30€
  </div>

  <div class="card-category">
    Ligne de vie du tarot
    <br>30€
  </div>

  <div class="card-category">
    Consultation complète
    <br>50€
  </div>
</div>

<h3>Comment prendre contact :</h3>
<p>Nous allons pouvoir communiquer par téléphone, par Skype, par email ou à mon domicile à Carpentras dans le Vaucluse.</p>
<p>Natalie.cartomancienne@gmail.com</p>
<p>Port. 07.71.64.48.82</p>

